.*
!.bandit
!.coveragerc
!.gitignore
!.isort.cfg
!.pre-commit-config.yaml
!.pylintrc*
!.python-version
!.remarkrc
!.travis.yml
!.tox.ini
*.py[cod]
*.ipynb*
*.egg*
coverage.*
legacy
build
dist
__pycache__
