[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pylint = "*"
autopep8 = "*"
twine = "*"
python-dotenv = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"
