interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.glovoapp.com/b2b/orders
  response:
    body:
      string: "[{\"code\":\"LMHGP1JZB\",\"scheduleTime\":1570051922000,\"description\"\
        :\"Recoger pedido 281: 1 ACNIBEN ESPUMA LIMPIADORA  150M (8429420126701),\
        \ Gracias!\",\"addresses\":[{\"lat\":-12.116155,\"lon\":-77.0453301,\"type\"\
        :\"PICKUP\",\"label\":\"Av. Del Ejercito 470\",\"details\":\"Urb. Santa Cruz\"\
        ,\"contactPhone\":\"\",\"contactPerson\":\" \",\"instructions\":null},{\"\
        lat\":-12.082683,\"lon\":-76.89802270000001,\"type\":\"DELIVERY\",\"label\"\
        :\"Samoa 373\",\"details\":\"Sol de la Molina Tercera Etapa\",\"contactPhone\"\
        :\"+51984803377\",\"contactPerson\":\"Sofia Fern\xE1ndez Tello\",\"instructions\"\
        :null}],\"id\":\"68273237\",\"state\":\"CANCELED\",\"reference\":null},{\"\
        code\":\"LMDQXL6WW\",\"scheduleTime\":1570053225000,\"description\":\"Recoger\
        \ pedido 283: 1 FOTOP  COMPACT  ARENA SPF50 X10 (8470001716125), Gracias!\"\
        ,\"addresses\":[{\"lat\":-12.116155,\"lon\":-77.0453301,\"type\":\"PICKUP\"\
        ,\"label\":\"Av. Del Ejercito 470\",\"details\":\"Urb. Santa Cruz\",\"contactPhone\"\
        :\"\",\"contactPerson\":\" \",\"instructions\":null},{\"lat\":-12.082683,\"\
        lon\":-76.89802270000001,\"type\":\"DELIVERY\",\"label\":\"Samoa 373\",\"\
        details\":\"Sol de la Molina Tercera Etapa\",\"co[...]
