interactions:
- request:
    body: '{"description": "Recoger un cuaderno azul anillado propiedad de Sheyla
      Bre\u00f1a", "addresses": [{"details": "Edificio Orbes, Piso 3, Oficina de Productos
      Angel Bre\u00f1a", "contactPhone": null, "contactPerson": null, "lat": -12.0563673,
      "lon": -76.9733736, "type": "PICKUP", "label": "Avenida los Cipreses, 140"},
      {"details": "Oficina 511", "contactPhone": null, "contactPerson": null, "lat":
      -12.055013, "lon": -77.03845849999999, "type": "DELIVERY", "label": "Avenida
      Inca Garcilaso de la Vega, 1250"}], "scheduleTime": null}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.glovoapp.com/b2b/orders/estimate
  response:
    body:
      string: '{"total":{"amount":1530,"currency":"PEN"}}'
    headers:
      Content-Type:
      - application/json; charset=utf8
    status:
      code: 200
      message: OK
version: 1
