interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.glovoapp.com/b2b/orders/40304538
  response:
    body:
      string: "{\"code\":\"LMHCYKMCR\",\"scheduleTime\":null,\"description\":\"Recoger\
        \ un cuaderno azul anillado propiedad de Sheyla Bre\xF1a\",\"addresses\":[{\"\
        lat\":-12.0563673,\"lon\":-76.9733736,\"type\":\"PICKUP\",\"label\":\"Avenida\
        \ los Cipreses, 140\",\"details\":\"Edificio Orbes, Piso 3, Oficina de Productos\
        \ Angel Bre\xF1a\",\"contactPhone\":null,\"contactPerson\":null,\"instructions\"\
        :null},{\"lat\":-12.055013,\"lon\":-77.03845849999999,\"type\":\"DELIVERY\"\
        ,\"label\":\"Avenida Inca Garcilaso de la Vega, 1250\",\"details\":\"Oficina\
        \ 511\",\"contactPhone\":null,\"contactPerson\":null,\"instructions\":null}],\"\
        id\":\"40304538\",\"state\":\"DELIVERED\",\"reference\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf8
    status:
      code: 200
      message: OK
version: 1
