interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer glovo_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.glovoapp.com/b2b/working-areas
    response:
      body:
        string: '{"workingAreas":[{"code":"AAZ","polygons":["","egtyAxc`nPaMo~A`_A_|Btr@lWfc@qL`PyoA~h@wq@gFcm@mL_fB{r@st@g~@kiC}Wmq@}u@yY{dB}w@x@c\\yc@yt@ymAjsAcB~g@neAvPpuAhKTzwCzp@bjAcJrHejAs`Bm`B`@hHp|BzPd\\vLhz@vFjfGg~@dkAd`@pqA~v@go@~o@gJ|QpiAze@tHbPmS"],"workingTimes":{"from":"08:00","duration":840}},{"code":"ABJ","polygons":["","u}k_@hclWwBF","qmj_@|l_W","qjm_@ncaW??","q_k_@xoqWua@cb@kBoG~@aHu@yJkMuUgG{XsEkYm@_ClBaG|KwCdKdBzDyBfByQxEoDfAoGqXtKwK~AmI|A{EwDqCwE_@_CuA_BoGcOPmKvBqBhK~CfCw@pCjB`Dm@tAy@s@iAfAmIfHaDuEaKDeB~CgCpHyN~@sIcCaDoB_KGeCeC}Cq@uGyMiHeEeDaB{DcJyDvFuH{@aC}AsCfFgI|EmDtA_EzLpA\\yDmCkFgGcL_@_CtE_EbFeERaL`GaE|L{LjDsAvB~A|DaGmNe@wCvGgFdCaDDeFpD{@yAyGsEW}Jw@kNxBmEb@cGgCmC`@iKmBqDoBuE~L}MvB_BlHfC|GbAtAdBvAbA`@mHgBeEsDkKeFyIsByVpMmLtDVrBrC`Df@vDlDs@vIpJM~DfDZpNpBvRdEjCjCnCjDoDp[...]
